#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80
#define JP_ZKHK  GRAVE        // 半角/全角
#define JP_YEN   INT3         // ¥
#define JP_AT    LBKT         // @
#define JP_COLN  QUOT         // :
#define JP_CARET EQUAL        // ^
#define JP_QUOT  LS(N2)       // "
#define JP_LPAR  LS(N8)       // (
#define JP_RPAR  LS(N9)       // )
#define JP_AMPS  LS(N6)       // &
#define JP_EQL   LS(Nminus)   // =
#define JP_PLUS  LS(SEMICOLON)// +
#define JP_ASTR  LS(COLON)    // *
#define JP_UNDS  LS(INT3)     // _
#define JP_PIPE  LS(INT1)     // |

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        lang {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R    &kp T                                                    &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &lt 4 F  &kp G        &kp LC(Y)              &kp PRINTSCREEN      &kp H        &kp J  &lt 5 K    &kp L    &kp MINUS
&kp S      &kp X         &kp C         &kp V    &kp B        &kp LC(Z)              &kp ESC              &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &kp TAB  &lt 1 SPACE  &mt LSHIFT DELETE      &mt RSHFT BACKSPACE  &lt 2 ENTER                             &lt 3 K_CONTEXT_MENU
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        Arrow {
            bindings = <
&kp LS(EXCL)  &kp LS(DQT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)                      &kp LS(AMPS)  &kp LS(SQT)  &kp LS(LPAR)  &kp LS(RPAR)  &kp ESC
&trans        &kp HOME     &kp UP         &kp END       &trans         &trans      &trans  &trans        &kp HOME     &kp UP        &kp END       &kp BSPC
&trans        &kp LEFT     &kp DOWN       &kp RIGHT     &trans         &trans      &trans  &trans        &kp LEFT     &kp DOWN      &kp RIGHT     &kp DEL
&trans        &trans       &trans         &trans        &trans         &trans      &trans  &trans                                                 &trans
            >;
        };

        Nums {
            bindings = <
&kp N1         &kp N2         &kp N3         &kp N4         &kp N5                            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0
&kp CARET      &kp AT         &kp FSLH       &kp MINUS      &kp BSLH      &trans      &trans  &kp SEMI      &kp COLON     &kp LBKT      &kp RBKT      &kp BSLH
&kp LS(TILDE)  &kp LS(GRAVE)  &kp LS(QMARK)  &kp LS(EQUAL)  &kp LS(PIPE)  &trans      &trans  &kp LS(PLUS)  &kp LS(STAR)  &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(UNDER)
&trans         &trans         &trans         &trans         &trans        &trans      &trans  &trans                                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        Functions {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans  &trans  &trans  &kp F11
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans      &trans  &trans  &trans  &trans  &trans  &kp F12
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
